<!DOCTYPE html>
<html lang="en">
<head>

{% block head %}

    <!-- <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous"> -->
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      
      <a href="/" class="navbar-left"><img src="/static/images/logo.svg"></a>
      
      {% if user.is_authenticated %} 
        {% include 'accounts/includes/messaging.html' %} 
        <a href="/" class="navbar-left"> Home </a>
        <a href="/accounts" class="navbar-left"> Accounts </a>
        <a href="/ledger" class="navbar-left"> Ledger </a>
        <a href="/journals" class="navbar-left"> Journal </a>
        <a href="/adjusting_journals" class="navbar-left"> Adjusting Journal </a>
        <a href="/manage_journals" class="navbar-left"> Manage/View Journals</a>
        <a href="/help" class="navbar-left"> Help </a>
        <ul class="nav navbar-nav">

         <div class="dropdown">
                <a href="#" class="navbar-left" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Generate Statements<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/generate_statements">Trial Balance</a></li>
                  <li><a href="/balance_sheet">Balance Sheet</a></li>
                  <li><a href="/income_statement">Income Statement</a></li>
                  <li><a href="/retained_earnings">Retained Earnings Statement</a></li>
                  
                </ul>
              </div>
        </ul> 
        <a href="/logout" class="navbar-right"><span class="glyphicon glyphicon-log-in"></span> Logout </a>
        <a href="/profile" class="navbar-right">{{user.username|title}}</a>
       {% if user.profile.image %}
        <a href="/profile" class="navbar-right"><img src="{{user.profile.image.url}}" width="35px"> 
          {% else %}
           <a href="/profile" class="navbar-right"><img src="/static/images/user2.svg"></a>
             
          {% endif %}
                  </a>
        {% else %}
          {% include 'accounts/includes/messaging.html' %} 
          <div class="navbar-left" style="float: none; margin: 0px;"><h3>Accounting Plus </h3></div>
          <a href="/login" class="navbar-right"><span class="glyphicon glyphicon-log-in"></span> Login </a>
          <a href="/register" class="navbar-right"> Register </a>
        {% endif %}      
    </div>         
    </nav>


  <title>Accounting System</title>
  <style>
    .form-label {
      font-size: 20px;
        }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      padding-right:15px;
      padding-left:0;
    }
    
    .navbar-left {
      padding-right:15px;
      font-size: 15px !important;

    }
    .navbar-right{
      padding-right:15px;
      font-size: 15px !important;
    }
    #journals {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
    #journals td, #journals th {
          border: 1px solid #ddd;
          padding: 8px;
        }
    h2 {
    text-align: center;
        }
  </style>
</head>
{% endblock %}

{% block body %}
<body>
  <div class="container">
    <div class="row">
      {% if user.is_authenticated %}
        <div class="text-center" style="float: none; margin: 0 auto;"><h1> Accounting Plus </h1></div>
        <div class="text-center" style="float: none; margin-bottom: 25px;"><p> Welcome to your accounting homepage! </p></div>
        <div class="text-center" style="float: none; margin-bottom: 40px;">
        <button onclick="myFunction()" class="text-center" style="float: none; margin-bottom: 25px;">Hide/Display Messages</button>
        <div id="myDIV">You have journal entries pending. Please visit the Manage Journals page to Accept or Reject your pending entries.</div>
          <script>
          function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
              x.style.display = "block";
            } else {
              x.style.display = "none";
            }
          }
          </script>
          </div>

          <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
            * {
              box-sizing: border-box;
            }
            
            /* Create three equal columns that floats next to each other */
            .column {
              float: left;
              width: 33.33%;
              padding: 10px;
              height: 200px; /* Should be removed. Only for demonstration */
            }
            
            /* Clear floats after the columns */
            .row:after {
              content: "";
              display: table;
              clear: both;
            }
            </style>
            </head>
            <body>
            
            <h2><hr>Dashboards</hr></h2>
            <table align="center">
              <thead>
                <tr>
                  <th> <div id="piechart"></div></th>
                  <th><div id="piechart2"></div></th>
                </tr>
              </thead>
            </table>
           
            
            <div class="row">
              <div class="column" style="background-color:#aaa;">
                <h2>Balance</h2>
                <p class="text-center">Add Number</pclass="text-center">
              </div>
              <div class="column" style="background-color:#bbb;">
                <h2>Total Assets</h2>
                <p class="text-center">Add Number</pclass="text-center">
              </div>
              <div class="column" style="background-color:#ccc;">
                <h2>Total Liabilities</h2>
                <p class="text-center">Add Number</p>
              </div>
            </div>
        </div>
    </div>
  </div>
  

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Work', 8],
  ['Eat', 2],
  ['TV', 4],
  ['Gym', 2],
  ['Sleep', 8]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Total Assets', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Work', 8],
  ['Eat', 2],
  ['TV', 4],
  ['Gym', 2],
  ['Sleep', 8]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Total Liabilities', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
  chart.draw(data, options);
}
</script>
  
{% else %}
  <div class="container-fluid">
    <div class="row">
      <div class="text-center" style="float: none; margin-top: 20px;"><a><img src="/static/images/error.svg"></a></div> 
      <div class="text-center" style="float: none; margin: 20px;"><p> Please log in to go to your homepage. </p></div>
      <div class="text-center" style="float: none; margin: 0 auto;"><p> If you don't have an account, please register. </p></div>
    </div>
  </div>
  {% endif %}  
</div>  
</div>
</div> 
</body>
{% endblock %}

</html>
 

<!-- Prism JS -->
<script src="{% static "tinymce/js/prism.js" %}"></script>