<!DOCTYPE html>
<html lang="en">
<head>

{% block head %}

    <!-- <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous"> -->
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      
      <a class="navbar-left"><img src="/static/images/logo.svg"></a>
      
      {% if user.is_authenticated %} 
        {% include 'accounts/includes/messaging.html' %} 
        <a href="/" class="navbar-left"> Home </a>
        <a href="/accounts" class="navbar-left"> Accounts </a>
        <a href="#" class="navbar-left"> Projects </a>
        <a href="#" class="navbar-left"> Help </a>
        
        <a href="/logout" class="navbar-right"><span class="glyphicon glyphicon-log-in"></span> Logout </a>
        <a href="/profile" class="navbar-right">{{user.username|title}}</a>
        <a href="/profile" class="navbar-right"><img src="{{user.profile.image.url}}" width="35px"></a>

        {% else %}
          {% include 'accounts/includes/messaging.html' %} 
          <div class="navbar-left" style="float: none; margin: 0px;"><h3>Accounting Plus </h3></div>
          <a href="/login" class="navbar-right"><span class="glyphicon glyphicon-log-in"></span> Login </a>
          <a href="/register" class="navbar-right"> Register </a>
        {% endif %}      
    </div>         
    </nav>


  <title>Accounting System</title>
  <style>
    
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      padding-right:15px;
      padding-left:0;
    }
    
    .navbar-left {
      padding-right:15px;
      font-size: 15px !important;

    }
    .navbar-right{
      padding-right:15px;
      font-size: 15px !important;
    }
  
  </style>
</head>
{% endblock %}

{% block body %}
<body>
  <div class="container">
    <div class="row">
      {% if user.is_authenticated %}
        <div class="text-center" style="float: none; margin: 0 auto;"><h1> Accounting Plus </h1></div>
        <div class="text-center" style="float: none; margin-bottom: 40px;"><p> Welcome to your accounting homepage! </p></div>
        <div class="text-center" style="float: none; margin: 20px;"><h3><hr>Dashboards<hr></h3></div>      
        <div class="row">
          {% for tut in tutorials %}
          <div class="col s12 m6">
            <div class="text-center">
              <div class="card hoverable">
                <div class="card-content">
                  <span class="card-title">{{tut.title}}</span>
                    <p>{{tut.published}}</p>
                    <p>{{tut.content|safe}}</p>
                </div>
              </div>
              <div class="card hoverable">
                <div class="card-content">
                  <span class="card-title">{{tut.title}}</span>
                    <p>{{tut.published}}</p>
                    <p>{{tut.content|safe}}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
  
{% else %}
  <div class="container-fluid">
    <div class="row">
      <div class="text-center" style="float: none; margin-top: 20px;"><a><img src="/static/images/error.svg"></a></div> 
      <div class="text-center" style="float: none; margin: 20px;"><p> Please log in to go to your homepage. </p></div>
      <div class="text-center" style="float: none; margin: 0 auto;"><p> If you don't have an account, please register. </p></div>
    </div>
  </div>
  {% endif %}  
</div>  
</div>
</div> 
</body>
{% endblock %}

</html>
 

<!-- Prism JS -->
<script src="{% static "tinymce/js/prism.js" %}"></script>