{% extends 'base.html' %}


{% block body %}
<h2>
    <div style="text-align: center;">
        <div style="display: inline-block; text-align: left; margin-bottom: 10px;">
            <u>Account Summary</u>
        </div>
    </div>
</h2>
<head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
      margin-bottom: 100px;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>

    <body>  
    <div style="text-align: center; margin: 10px;"></div>    
    <table align="center">
        <div>
            <tr>
                <td><b>Account Name: </b></td>
                <td><a href="/ledger/{{object.id}}">{{ object.account_name }}</td>
            </tr>
            <tr>
                <td><b>Account Number:</b></td>
                <td> {{ object.account_number }}</td>
            </tr>
            <tr>
                <td><b>Account Description: </b></td>
                <td>{{ object.account_description }}</td>
            </tr>
            <tr>
                <td><b>Account Category: </b></td>
                <td>{{ object.account_category }} </td>
            </tr>
            <tr>
                <td><b>Subcategory: </b></td>
                <td>{{ object.account_subcategory }} </td>
            </tr>
            <tr>
                <td><b>Initial Balance: </b></td>
                <td>{{ object.initial_balance }} </td>
            </tr>
            <tr>
                <td><b>Debit: </b></td>
                <td>{{ object.debit }}</td>
            </tr>
            <tr>
                <td><b>Credit: </b></td>
                <td>{{ object.credit}} </td>
            </tr>
            <tr>
                <td><b>Balance:</b></td>
                <td> {{ object.balance }}</td>
            </tr>
            <tr>
                <td><b>Account Created: </b></td>
                <td>{{ object.account_created }} </td>
            </tr>
            <tr>
                <td><b>Order: </b></td>
                <td>{{ object.order }}</td>
            </tr>
            <tr>
                <td><b>Statement: </b></td>
                <td>{{ object.statement }}</td>
            </tr>
            <tr>
                <td><b>Comment: </b></td>
                <td>{{ object.comment }}</td>
            </tr>
            <tr>
                <td><b>Account Histroy: </b></td>
                <td><a href="/admin/accounts/account/{{object.id}}">Edit Account</a></td>
            </tr>
        </div>
    </table>
    </body>

{% endblock %}