{% extends 'base.html' %}



{% block body %}
<h1>
    <div style="text-align: center;">
        <div style="display: inline-block; text-align: left; margin-bottom: 30px;">
            <u>Account</u>
        </div>
    </div>
</h1>

<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">
        <p><b>Username: {{ user.first_name }}</p>
        <p><b>Account Name: {{ user.useraccount.account_name }}</p>
        <p><b>Account Number: {{ user.UserAccount.account_number }}</p>
        <p><b>Account Description: {{ user.useraccount.account_description }}</p>
        <p><b>Account Category: {{ user.useraccount.account_category }}</p>
        <p><b>Subcategory: {{ user.useraccount.account_subcategory }}</p>
        <p><b>Initial Balance: {{ user.useraccount.initial_balance }}</p>
        <p><b>Debit: {{ user.useraccount.debit }}</p>
        <p><b>Credit: {{ user.useraccount.credit}}</p>
        <p><b>Balance: {{ user.useraccount.balance }}</p>
        <p><b>Account Created: {{ user.useraccount.account_created }}</p>
        <p><b>Order: {{ user.useraccount.order }}</p>
        <p><b>Statement: {{ user.useraccount.statement }}</p>
        <p><b>Comment: {{ user.useraccount.comment }}</p>
  </div>
</div>


{% endblock %}