{% extends 'base.html' %}

{% block body %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center><h3 class="panel-title">Enter your email here, and click "Confirm" to have your password reset and instructions will be sent to the above email. </h3></center>
                    </div>
                      <div class="panel-body">
                        <fieldset>                      
                            <form method="POST">
                                {% csrf_token %}
                                {{form}}
                                <div class="panel-button">
                                <button style="background-color:#555; color:white; text-align:center; padding: 2px;" class="btn btn-primary btn-lg" type="submit">
                                    <span class="button-text">Send Email</span> </button>                              
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <style>
    .panel-button{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 15px; 
    }

    .button-text{
        text-align: center;
        padding: 10px;

    }

    </style>


{% endblock %}