{% extends 'base.html' %}


{% block body %}
<h1>Trial Balance</h1>
<div style="text-align: center; margin: 10px;">   
<table align="center">
    <thead>
        <tr>
            <th scope="col">Account Name</th>
            <th scope="col">Account Debit</th>
            <th scope="col">Account Credit</th>

        </tr>
    </thead>
    <tbody id = "myTable">
        {% for account in accounts %}
        <tr> 
            <td>{{ account.account_name }}</td>
            <td>{{ account.debit }}</td>
            <td>{{ account.credit }}</td>
        </tr>
        {% endfor %}

        {% for statement in allstatements %}
        <tr>
            <td>Total</td>
            <td>{{ statement.Total_debit }}</td>
            <td>{{ statement.Total_Credit }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<a href="#" onclick="window.print();return false;" title="Click to print this page">Print this page</a>

<a href="mailto:email@example.com?subject=Retained Statement">| Send Email</a>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

}
</script>

</div>

{% endblock %}