{% extends 'base.html' %}


{% block body %}
<h2>
    <div style="text-align: center;">
        <div style="display: inline-block; text-align: left; margin-bottom: 30px;">
            <u>Accounting Plus: Sysytem Information</u>
        </div>
    </div>
</h2>
<head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 60%;
      margin-bottom: 100px;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>

    <body>  
    <table align="center">
        <div style="margin: 10px;">
            <tr>
                <th>System Page</th>
                <th>Information</th>
            </tr>
            <tr>
                <td>Home</td>
                <td>This is your main access to the Accounting Plus system.</td>
            </tr>
            <tr>
                <td>Accounts</td>
                <td>See an overview of all accounts in the system and link to the ledger page.</td>
            </tr>
            <tr>
                <td>Ledger</td>
                <td>All journals that are in accepted status will be displayed here.</td>
            </tr>
            <tr>
                <td>Journal</td>
                <td>Submit new journal entries here.</td>
            </tr>
            <tr>
                <td>Adjusting Journal</td>
                <td>Submit new entries to make adjustments to journal entries.</td>
            </tr>
            <tr>
                <td>Manage Journals</td>
                <td>See all submitted journal entries and journal adjustments here. Entries submitted by accountants will need to be reviewed by a manager.</td>
            </tr>
            <tr>
                <td>Generate Statements</td>
                <td>See all financial statements here.</td>
            </tr>
            <tr>
                <td>User Profile</td>
                <td>Click on your username or image to view your profile.</td>
            </tr>
        </div>
    </table>
    </body>
{% endblock %}