{% extends 'base.html' %}

{% block body %}

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <center>
              <h3 class="panel-title">Add a Journal Entry: </h3>
            </center>
          </div>
          <div class="panel-body">
            <form method="POST" action="/journals/">
              {% csrf_token %}
              {{ journal_form.management_form }}
              {% for j in journal_form%}
              <div class="row form-row spacer">
                {{ j.as_p }}
              </div>
              {% endfor %}
              {{ journal_form.non_form_errors }}
              <div class="panel-button">
                <button style="background-color:#555; color:white; text-align:center; padding: 2px;"
                  class="btn btn-primary btn-lg" type="submit">
                  <span class="button-text">Save</span> </button>
                <button style="background-color:white; color:#555; text-align:center; padding: 2px;"
                  class="btn btn-primary btn-lg" type="reset">
                  <span class="button-text">Reset</span> </button>
              </div>
            </form>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .panel-button {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    .button-text {
      text-align: center;
      padding: 10px;

    }
  </style>


  {% endblock %}