{% extends 'base.html' %}


{% block body %}
<h1>Ledger Page</h1>
<input type = "text" id="myInput" type="text" onkeyup="myFunction()" placeholder="Search by Account">
<div style="text-align: center; margin: 10px;">   
<table align="center">
    <thead>
        <tr>
            <th scope="col">Date Created</th>
            <th scope="col">Journal Description</th>
            <th scope="col">Post Ref</th>
            <th scope="col">Debit</th>
            <th scope="col">Credit</th>
            <th scope="col">Balance</th>
        </tr>
    </thead>
    <tbody id = "myTable">
        {% for journal in journals %}
        {% if journal.status == 2 %}
        <tr id="{{journal.account.account_name}}">
            <th scope="row">{{ journal.date}}</th>
            <td>{{ journal.Journal_description }}</td>
            <td><a href="/journal_view/{{journal.Journal_number}}">{{ journal.Journal_number }}</a></td>
            <td>{{ journal.journal_debit }}</td>
            <td>{{ journal.journal_credit }}</td>
            <td>{{ journal.journal_balance }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = tr[i].id;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

</div>

{% endblock %}