
<html>

<head> 
<title>
Login
</title>   
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
<h1>
    <div class="jumbotron">
    <div class="container">
    Welcome to the Accounting System!
    </div>
    </div>
    </h1>
</head>
    

<body>
 <div class="container">
    <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
        <button style="background-color:rgb(248, 122, 122); color:black" class="btn btn-outline-info" type="submit">Login</button>
    </form>
    Don't have an account? <a href="/register" target="blank"><strong>register here</strong></a>!
</div>    
</body>