{% extends 'base.html' %}



{% block body %}
<h1>
    <div style="text-align: center;">
        <div style="display: inline-block; text-align: left; margin-bottom: 10px;">
            <u>User Profile</u>
        </div>
    </div>
</h1>
<head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
      margin-bottom: 100px;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>

    <body>  
    <div style="text-align: center; margin: 30px;"><img src="{{user.profile.image.url}}"></div>    
    <table align="center">
        <div>
            <tr>
                <th><b>Username:</b></th>
                <th>{{user}}</th>
            </tr>
            <tr>
                <td><b>First Name:</b></td>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                <td><b>Middle Initial:</b></td>
                <td>{{user.profile.middle_initial}}</td>
            </tr>
            <tr>
                <td><b>Last Name:</b></td>
                <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <td><b>Date of Birth: </b></td>
                <td>{{user.profile.dob}}</td>
            </tr>
            <tr>
                <td><b>Role: </b></td>
                <td>{{user.profile.role}}</td>
            </tr>
            <tr>
                <td><b>Address: </b></td>
                <td>{{user.profile.address}}</td>
            </tr>
            <tr>
                <td><b>City: </b></td>
                <td>{{user.profile.city}}</td>
            </tr>
            <tr>
                <td><b>State:  </b></td>
                <td>{{user.profile.state}}</td>
            </tr>
            <tr>
                <td><b>Zip: </b></td>
                <td>{{user.profile.zip_code}}</td>
            </tr>
            <tr>
                <td><b>Profile Pic: </b></td>
                <td>{{user.profile.image}}</td>
            </tr>
            <tr>
                <td><b>Bio: </b></td>
                <td>{{user.profile.bio}}</td>
            </tr>
        </div>
    </table>
    </body>

{% endblock %}
